[submodule "tmux-conf"]
	path = tmux-conf
	url = git@github.com:hitmoon/tmux-conf
[submodule "git-conf"]
	path = git-conf
	url = git@github.com:hitmoon/git-conf
[submodule "vim-conf"]
	path = vim-conf
	url = git@github.com:hitmoon/vim-conf
[submodule "emacs-conf"]
	path = emacs-conf
	url = git@github.com:hitmoon/emacs-conf
